@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "montSemiBold";
    src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
