@font-face {
    font-family: "montReg";
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "montSemiBold";
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

