@mixin t-title(){
    color: $text-primary;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 1.2rem;
    @media (min-width: $tablet) {
        font-size: 1.5rem;
    }

}

@mixin t-main(){
    color: $text-primary;
    font-family: $main-font;
    font-size: 0.8rem;
    font-weight: 500;
    @media (min-width: $tablet) {
        font-size: 1rem;
    }
}

@mixin t-button(){
    color: $text-secondary;
    font-family: $table-font-main;
    font-size: 1rem;
}
