//text

$text-primary: black;
$text-secondary: #323A47;
$text-treinary-light_theme: #818387;
$text-link: green;
$text-error: #D5393C;

//background

$main-back: #172339;
$bg-block-first: #FFFFFF;
$bg-block-secodary: #EDEDED;
$button-back: #F3FFF9;

//border

$border-table: 1px solid #DBDBDB;

// fonts
$main-font: "montReg";
$secondary-font: "montSemiBold";

// radius

$main-radius: 0.75rem;

// size
$mobile: "375px";
$tablet: "1024px";
$dekstop: "1440px";
