@import "../../../shared/utils/index.scss";

.container{
    position: absolute;
    width: 30rem;
    height: 20rem;
    top: 3.5rem;
    left: 0.2rem;
    border-radius: 1rem;
    border: 2px solid $border-main;
    background-color: $main-back;
    padding: 1rem 0;
}
