.button{
    height: 3rem;
    background-color: #2fbd59;
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        background-color: #3ae26d;
    }
}

.secondary{
    width: 5rem;
    height: 3rem;
    border-bottom-left-radius:0rem;
    border-top-left-radius:0rem;
    border: 2px solid black !important;
    font-size: 0;
}