.button{
    height: 3rem;
    background-color: #2fbd59;
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        background-color: #3ae26d;
    }
}

.noActive{
    background-color: rgb(92, 91, 91);
    cursor: default;
}

.secondary{
    width: 3.5rem;
    height: 2.5rem;
    border-bottom-left-radius:0rem;
    border-top-left-radius:0rem;
    border: 2px solid #2fbd59 !important;
    font-size: 0;

    @media (min-width: 1024px) {
        width: 5rem;
        height: 3rem;
    }
}
