@import "../../../shared/utils/index.scss";

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 10px;
    flex: 0 0 10rem;
    width: 10rem;
    height: 20rem;
    margin-bottom: 1rem;
    @media (min-width: $tablet) {
        flex: 0 0 15rem;
        height: 28rem;
        width: 15rem;
    }
}

.like{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.container{
    position: relative;
    width: 100%;
    border-radius: 0.8rem;
    overflow: hidden;
    height: 15rem;

    @media (min-width: $tablet) {
        height: 23rem;
    }

    &:hover{
        cursor: pointer;
        .img{
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}

.img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, width 0.3s ease;
}

.title{
    @include t-title();
    font-size: 1rem !important;

}

.author{
    @include t-main();
    font-size: 0.8rem !important;
}

.info{
    font-size: 0.7rem !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    height: 5rem;
}
