@import "../../../shared/utils/index.scss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
     box-shadow: 0 0 0 30px rgba(48, 192, 19, 0.3) inset !important;
}

.container{
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1000;
}

.form {
    width: calc(90%);
    height: calc(80% - 2rem);
    border-radius: 0.8rem;
    position: absolute;
    background-color: #2e2f33;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    padding: 3rem 2rem;
    align-items: center;
    @media (min-width: "550px") {
        padding: 3rem 4rem;
        height: 30rem;
        max-width: 25rem;
    }
    transition: all 0.4s;

}

.question{
    position: absolute;
    right: -1.4rem;
    top: 0.9rem;

}

.authForm{
    height: 18rem;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 550px) {
        width: 20rem;
    }
}

.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 3rem;

}

.sign{
    margin-top: 0.7rem;
    margin-left: 0.5rem;
    width: 100%;
}

.link{
    @include t-main();
    text-decoration: none;
    border-bottom: 2px solid  transparent;
    transition: all 0.3s;
    color: #f1f1f1;
    cursor: pointer;

    &:hover{
        border-bottom: 2px solid #2fbd59;
    }
}

.close{
    position: absolute;
    right: 0;
    top: -3rem;

    @media (min-width: $tablet) {
        top: -5rem;

    }
}

.activeLink{
    border-bottom: 2px solid #2fbd59;
}

.forgot{
    color: #78797d;

}

.logo{
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 20rem;
    height: 3rem;

}

.navForm{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;

    @media (min-width: $tablet) {
        padding: 0;
    }
}

.messageText{
    @include t-main();
    height: 1rem;
    font-size: 0.8rem !important;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.modal{
    width: 100%;
    position: absolute;
    top: -4.5rem;
    z-index: 1001;
    @media (min-width: $tablet) {
        top: 0;
        right: -26rem;
    }
}

.formTips{
    @include t-main();
    background-color: white;
    border-radius: $main-radius;
    padding: 0.5rem;
    @media (min-width: $tablet) {
        padding: 1rem;
    }
}

.title{
    @include t-title();
    color: black;
    text-align: center;
    margin-bottom: 0.5rem;
}

.input{
    position: relative;
}

.exit{
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (min-width: 550px) {
        width: 20rem;
    }
}
