@import "../../../shared/utils/index.scss";

.header{
    width: 100%;
    height: 6rem;
    background-color: $main-back;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 20rem;
    height: 3rem;

}

.text{
    @include t-title();
    font-size: 1rem !important;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.rigth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12rem;
}

.theme{
    margin-top: 0.5rem;
}

.like{
    position: relative;
}

.like_text{
    @include t-main();
    font-size: 1rem !important;
    top: -0.4rem;
    right: 0.2rem;
    position: absolute;
}