@import "../../../shared/utils/index.scss";

.header{
    width: 100%;
    background-color: $main-back;
    position: sticky;
    top: 0;
    height: 4.5rem;
    z-index: 999;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: $tablet) {
        height: 7rem;
        padding: 2rem 1rem;
    }
}

.search{
    position: relative;
    width: 25rem;
    @media (min-width: $tablet) {
        width: 34rem;
    }
}

.logo{
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 3rem;
    @media (min-width: $tablet) {
        width: 20rem;

    }
}

.icon{
    width: 1.7rem;
    margin-top: 0.4rem;
    @media (min-width: $tablet) {
        width: 2rem;

    }
}

.text{
    @include t-title();
    font-size: 1rem !important;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.rigth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0.5rem;
    width: 6rem;
}

.theme{
    position: relative;
    margin-top: 0.5rem;
    margin-right: 0.3rem;
    z-index: 1;
    &:hover{
        &::before{
            display: block;
        }
    }

    &::before{
        z-index: -1;
        content: "";
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: none;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.5rem;
        background-color: $inverse-main-back;
        opacity: 0.4;
    }
}

.settings{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 24px;
    background-color: $main-back;
    border: 2px solid $border-main;
    &:hover{
        cursor: pointer;
    }
}

.profile{
    @include t-main();
}
