@import "../../../shared/utils/index.scss";

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    &:focus{
        outline: none;

    }
}

.search{
    width: 100%;
    position: relative;
}

.clear{
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
    cursor: pointer;

    @media (min-width: $tablet) {
        display: block;
    }

    &:hover{
        &::before{
            background-color: rgba(255, 255, 255, 0.281);
        }
    }
    &::before{
        content: "";
        transition: all 0.5s;
        display: block;
        border-radius: 1rem;
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%);
        width: 2rem;
        height: 2rem;
        background-color: inherit;
    }
}

.hint{
    @include t-main();
    font-size: 0.8rem !important;
    position: absolute;
    padding-top: 0.3rem;
    bottom: -5rem;
    text-align: center;
    border-radius: 0.4rem;
    width: 5rem;
    height: 3rem;
    background-color: rgb(141, 135, 135);
    color: black;
    z-index: 1;

    &::before{
        z-index: -1;
        display: block;
        content: "";
        width: 1rem;
        height: 1rem;
        position: absolute;
        background-color: rgb(141, 135, 135);
        top: -0.5rem;
        left: 2rem;
        transform: rotate(45deg);
    }
}

.icon{
    position: absolute;
    top: 0.6rem;
    left: 0.8rem;

    @media (min-width: 1024px) {
        top: 1rem;
        left: 0.8rem;
    }
}
