:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar-track {
  background-color: #fff; /*Цвет скролла*/
  }
  ::-webkit-scrollbar-thumb {
  border-radius: 5px; /*Закругление ползунка*/
  background-color: #ccc; /*Цвет ползунка*/
  }
  ::-webkit-scrollbar {
  width: 6px; /*Толщина скролла*/
}
* {
  scrollbar-color: #ccc #fff; /*Цвет скролла, цвет ползунка*/
  scrollbar-width: thin; /*Толщина скролла thin, auto*/
}

body[data-theme='dark'] {
  --colors-text: #f1f1f1;
  --colors-bg: #0f0f0f;
  --colors-border: #f1f1f1;
  --transparent-bg: rgba(255, 255, 255, 0.57);
}
body[data-theme='light'] {
  --colors-text: hsl(0, 0%, 0%);
  --colors-bg: #f1f1f1;
  --colors-border: #0f0f0f;
  --transparent-bg: rgba(102, 102, 102, 0.932);
}
