@import "../../../shared/utils/index.scss";

.mainTitle{
    @include t-title();
    margin: 0;
    margin-top: 0.5rem;
}

.secondaryTitle{
    @include t-title();
    margin-top: 3rem;
}

.recommendTitle{
    @include t-title();
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;

}

.text{
    @include t-main();
    margin-top: 1rem;
}

.container{
    padding: 1rem 1rem;
    max-width: 70rem;
    margin: 0 auto;
}

.book{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1.5rem;
    border: 2px solid $border-main;
    border-radius: $main-radius;

    @media (min-width: 600px) {
        margin-left: 0.5rem;
        margin-top: 0;
    }

    @media (min-width: $tablet) {
        text-align: left;
        width: 40rem;
    }
}

.description{
    margin-top: 2rem;
    padding: 1.5rem;
    border: 2px solid $border-main;
    border-radius: $main-radius;
}

.img{
    border-radius: $main-radius;
    position: relative;
    overflow: hidden;
    height: 25rem;
    width: 15rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $mobile) {
        height: 460px;
        width: 300px;
    }

    @media (min-width: $tablet) {
        transform: translate(-50%, -50%);
        height: 590px;
        width: 410px;
    }
}

.imgContainer{
    position: relative;
    height: 550px;
    background-color: rgb(64, 218, 44, 0.1);
    border-radius: 1rem;

    @media (min-width: 600px) {
        width: 70%;
    }

    @media (min-width: $tablet) {
        background-color: inherit;
        height: 590px;
        width: 50%;
    }
}

.like{
    position: relative;
    height: 3rem;

}

.slider{
    margin-top: 2rem;

}
