@import "../../../shared/utils/index.scss";

.mainTitle{
    @include t-title();
    margin: 0;
}

.secondaryTitle{
    @include t-title();
    margin-top: 3rem;
}

.recommendTitle{
    @include t-title();
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;

}

.text{
    @include t-main();
    margin-top: 1rem;
}

.container{
    padding: 1rem 1rem;
    max-width: 70rem;
    margin: 0 auto;

}

.book{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 28rem;
    margin-top: 1rem;

    @media (min-width: 600px) {
        margin-left: 0.5rem;
        margin-top: 0;
        text-align: right;
    }

    @media (min-width: $tablet) {
        text-align: left;
        width: 40rem;
    }
}

.description{
    margin-top: 2rem;
}

.img{
    border-radius: $main-radius;
    border: 3px solid;
    border-color: green;
    position: relative;
    overflow: hidden;
    height: 25rem;
    width: 15rem;

    @media (min-width: $tablet) {
        height: 590px;
        width: 410px;
    }
}

.like{
    position: relative;
    height: 3rem;

}
