@import  "../../../shared/utils/index.scss";

.container{
    display: flex;
    flex-direction: row;
    height: 2rem;
}

.text{
    margin-left: 1rem;
    margin-top: 0.2rem;
    text-align: left;
    color: black !important;
    @media (min-width: $tablet) {
        margin-top: 0;
    }
}
