@import "../../../shared/utils/index.scss";

.button{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0.2rem;
    padding-left: 1.8rem;
    border: none;
    z-index: 1;
    transition: all 0.3s;
    background-color: inherit;
    text-align: left;
    margin-top: 0.35rem;
    @include t-main();
    height: 1.62rem;
    @media (min-width: $tablet) {
    }

    &:hover{
        cursor: pointer;
        color: $text-inverse-primary !important;
        background-color: $inverse-main-back;
        .delete{
            color: $text-inverse-primary
        }
        .icon{
            color: $text-inverse-primary
        }
    }

    &:focus{
        color: $text-inverse-primary;
        background-color: $inverse-main-back;
        .delete{
            color: $text-inverse-primary
        }
        .icon{
            color: $text-inverse-primary
        }
    }
}

.active{
    color: $text-inverse-primary;
    background-color: $inverse-main-back;
    .delete{
        z-index: 2;
        color: $text-inverse-primary
    }
    .icon{
        color: $text-inverse-primary
    }
}

.icon{
    left: 0.5rem;
    top: 0.25rem;
    position: absolute;
    color: $text-primary;
}

.delete{
    right: 1rem;
    top: 0.25rem;
    position: absolute;
    color: $text-primary;
}
