@import "../../../shared/utils/index.scss";

.button{
    width: 100%;
    padding: 0.2rem 1rem;
    @include t-main();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
    background-color: inherit;
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.438);

    &:last-child{
        border-bottom: 1px solid rgba(255, 255, 255, 0.438);
    }

    @media (min-width: 500px) {
        height: 2rem;
    }

    &:hover{
        cursor: pointer;
        background-color: $bg-transparant;
    }
    &:focus{
        background-color: $bg-transparant;
    }
}

.active{
    background-color: $bg-transparant;
}
